.home-container {
  flex-direction: column;
  width: 100%;
  .link-button {
    width: 50%;
    margin: 20px auto;
  }
}

// if has private component write the style of the private component
